.profile__avatar-edit {
    border-radius: 50%;
    transition: background-color 0.2s linear;
    background: transparent;
    outline: none;
    border: none;
}

.profile__avatar-edit:hover {
    background: rgba(0, 0, 0, .8) url(../../../images/avatar-edit.svg) center / 26px no-repeat;
    outline: 1px solid black;
    cursor: pointer;
}