.header__element {
    text-decoration: none;
    margin: 5px 30px 0 0;
    color: #FFFFFF;
}

.header__element:last-child {
    margin-right: 0;
}

@media screen and (max-width: 551px) {
  .header__element {
    margin: 5px 0 18px 0;
  }
}
