.header {
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width:320px) and (max-width: 551px) {
  .header {
    padding-top: 28px;
  }
}
